<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="قائمة بالمستشفيات و المعامل و العيادات في خدمة الرعاية الصحية من أليكو" />
    <title>MetLife Alico</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/foundation.min.css">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <br/>
		<br/>
		<div class="row">
      <span class="small-12 columns center">
          <br/>
          <br/>
          <img src="img/alico-title.png">
      </span>
    </div>
    <br/>
    <div class="row">
      <span class="small-12 columns center">
        <span class="">
          <b>قائمة بالمستشفيات و المعامل و العيادات في خدمة الرعاية الصحية من أليكو</b>
        </span>
      </span>
    </div>
    <br/>

    <div id="app"></div>

    <hr>
    <div class="row footer">
      <div class="small-12 large-4 large-offset-1 columns right">
        <a href="data/alico_guide.jpg" target="_blank">
          <img class="icon" src="img/jpg-48.png">
          <strong>الإجراءات و الموافقات الطبية</strong>
        </a>
      </div>
      <div class="small-12 large-4 large-offset-1  columns right">
        <a href="data/alico_sheet.xlsx" target="_blank">
          <img class="icon" src="img/xls-48.png">
          <strong>شبكة أليكو الطبية</strong>
        </a>
      </div>
      <div class="large-5 columns"></div>
    </div>

    <script type="text/javascript" src="./build/js/app.js"></script>
    <script type="text/javascript">
      function initializeApp() {
        ReactDOM.render(
          React.createElement(
            SearchView, {
              citiesPath: "{{path_for('cities')}}",
              districtsPath: "{{path_for('districts')}}",
              placesPath: "{{path_for('places')}}",
              typesPath: "{{path_for('types')}}",
              specialitiesPath: "{{path_for('specialities')}}"
            }
          ),
          document.getElementById('app')
        );
      };

      $( window ).load(function() {
        initializeApp();
      });
    </script>
  </body>
</html>
